

.background_img{
  background: url(../Img/bbackg.jpeg);
  border-radius: 8px;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height:  calc(100vh - 75px );
}
.menu_table {
  backdrop-filter: blur(20px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgb(0, 0, 0,0.2);
  border-radius: 10px;
  padding: 30px 40px;
  display: inline-block;
  background: transparent;
  color: #fff;
  margin: 10px  auto;
  text-align: center;
  left: 200px;
  width: 600px;
  top: 50px;
  padding: 10px;
  padding-top: 2.5rem;

}
.menu_table th {
  padding: 6px;
  text-transform: capitalize;
  font-family: 'Kaushan Script', cursive;
  letter-spacing: 2px;
}

.menu_table td {
  padding: 3px 4px; 
  font-size: 15px;
  font-weight: 500;
  font-family: 'Kaushan Script', cursive;
}
.btn_clear {
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgb(0, 0, 0,0.2);
  letter-spacing: 2px;
}

@media (max-width:600px) {
  .menu_table {
    padding: 5px;
  max-width: 100%;
  }
  .menu_table th {
    padding: 4px;
  }
  .menu_table td {
    padding: 2px;
    letter-spacing: 2;
  }
}

@media (max-width:450px) {
  .menu_table {
    padding: 5px;
  }
  .menu_table th {
    padding: 2px;
    font-size: 12px;
    
  }
  .menu_table td {
    padding: 2px;
    font-size: 10px;
  }
  .menu_table img {
    width: 40px;
    height: 40px;
  }
}