@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;500;600&family=Poppins:wght@200;300;400;500;600&family=Roboto:wght@300;400;500&family=Rubik:wght@400;500;600&display=swap');



  @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;500;600&family=Nunito:ital,wght@0,400;0,500;1,600&family=Poppins:wght@200;300;400;500;600&family=Roboto:wght@300;400;500&family=Rubik+Bubbles&family=Rubik:wght@400;500;600&family=Saira+Extra+Condensed:wght@300;400&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding:0%;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;

}




@layer base {
button {
  @apply  border border-black rounded-[50px] px-5 py-1
}
}

body{
font-family: 'Poppins', sans-serif;
box-sizing: border-box;
margin: 0;
padding: 0;
scroll-behavior: smooth;
}

.font_2 {
font-family: 'Kaushan Script', cursive;
}
.font_3 {
  font-family: "Nunito";
}
.servies h2 {
font-family: 'Kaushan Script', cursive;
}
ion-icon {
  font-size: 27px;
}
.img_menu {
  height: calc(100vh - 75px);
}
/*  Icon ServicesPange and FilterMenu Commponent */

.services  > ion-icon  , .filetermenu  ion-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px;
  border-top-left-radius: 4px;
  background-color:#f97316;
  color: #fff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* Input Footer  */
.input_footer  ion-icon {
  position: absolute;
  top: 12px;
  left: 10px;
  color: #777;
}
/* ScrollTop Icon */
.scrollTop ion-icon {
  position: fixed;
  bottom: 40px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  color: #fff;
  background-color: #f97316;
  z-index: 40;
  right: 27px;
  padding: 4px;
  font-size: 15px;
  cursor: pointer;
  scroll-behavior: smooth;
}